:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
    --Dropdown-shadow: #dadada;
}


.main {
    font-family: "Epilogue", sans-serif !important;
    font-optical-sizing: auto !important;
    font-size: 15px !important;
    font-style: normal !important;
    color: var(--Medium-Gray);
    margin: 1.5rem;
}

.navbar {
    --bs-navbar-toggler-border-color: transparent !important;
    background-color: transparent !important;
}

.navbar .btn, .offcanvas .btn {
    --bs-btn-border-radius: 0.75rem !important;
    outline: 1px solid #000000 !important;
    --bs-btn-font-size: 0.9rem !important;
    --bs-btn-line-height: 1.56 !important;
    text-size-adjust: auto !important;
    border-color: var(--Almost-White) !important;
    color: var(--Medium-Gray) !important;
}

.navbar .btn:hover, .offcanvas .btn:hover {
    border-color: var(--Almost-Black) !important;
    color: var(--Almost-Black) !important;
}

.nav-link,
.dropdown-item {
    color: var(--Medium-Gray) !important;
    font-weight: 600 !important;
    margin: 0 0.3rem !important;
}

.nav-link:hover,
.nav-item:hover {
    color: var(--Almost-Black) !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: var(--Almost-Black) !important;
    background-color: transparent;
}

.login {
    margin-right: 1.8rem !important;
}

.navbar-toggler {
    border: none !important;
    border-radius: 0 !important;
    transition: none !important;
    padding: 0 !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.offcanvas .dropdown-menu.show {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: traslate3d(708px, 118.5px, 0px);
}

.dropdown-menu.show {
    border-color: var(--Almost-White);
    box-shadow: 5px 5px 12px 1px var(--Dropdown-shadow);
}

.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-toggle::after {
    margin-left: 0.255em !important;
    vertical-align: 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.dropdown-anchor {
    margin-left: 1px !important;
    vertical-align: baseline !important;
}

.rotate-drp-anchor {
    rotate: 180deg;
}

.dropdown-menu {
    min-width: fit-content !important;
    transition: none;
}

.offcanvas {
    max-width: 11.5rem !important;
}

.offcan-dropdown {
    width: min-content;
}

.offcan-dropdown .dropdown-menu {
    position: relative !important;
    transform: none !important;
}

.dropdown-item {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.dropdown-icon {
    width: 14px;
    height: auto;
    margin-right: 5px;
}

.d-flex {
    align-items: center !important;
}

.d-flex .nav-link {
    margin-right: 20px;
}

.c-flex {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
    height: 100vh;
    /* border: 1px solid black; */
}

.text-content {
    width: fit-content;
}

#paragraph, #learn-more-button, #clients {
    margin-top: 5%;
}

#heading h1 {
    font-size: 80px !important;
    line-break: strict;
    width: fit-content;
    color: var(--Almost-Black);
    font-weight: 700;
}

#paragraph {
    font-size: 18px;
    font-weight: 700;
    color: var(--Medium-Gray);
    width: 30rem;
}

#learn-more-button .btn-outline-dark {
    --bs-btn-border-radius: 0.75rem !important;
    outline: 1px solid #000000 !important;
    --bs-btn-font-size: 0.9rem !important;
    --bs-btn-line-height: 1.56 !important;
    width: 8rem;
    height: 3rem;
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
}

#learn-more-button .btn-outline-dark:hover {
    background-color: transparent;
    color: var(--Almost-Black);
}

#clients {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image-hero {
    width: fit-content;
    height: 90%;
    /* border: 1px solid red; */
}

.image-hero img {
    width: 100%;
    height: 100%;
}



@media screen and (max-width: 700px) {

    .main {
        margin: 0.6rem 0.1rem !important;
    }
}