
.main {
    font-family: "Epilogue", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-style: normal !important;
    margin: 1.5rem;
}

.navbar {
    --bs-navbar-toggler-border-color: transparent !important;
}

.btn {
    --bs-btn-border-radius: 0.75rem !important;
    outline: 1px solid #000000 !important;
    --bs-btn-font-size: 0.9rem !important;
    --bs-btn-line-height: 1.7 !important;
    text-size-adjust: auto !important;
}

.navbar-toggler {
    border: none !important;
    border-radius: 0 !important;
    transition: none !important;
    padding: 0 !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-toggle::after {
    margin-left: 0.255em !important;
    vertical-align: 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.dropdown-anchor {
    margin-left: 1px !important;
    vertical-align: baseline !important;
}

.rotate-drp-anchor {
    rotate: 180deg;
}

.dropdown-menu {
    min-width: fit-content !important;
    transition: none;
}

.offcanvas {
    max-width: 11rem !important;
}

.offcan-dropdown {
    width: min-content;
}

.offcan-dropdown .dropdown-menu {
    position: relative !important;
    transform: none !important;
}

.dropdown-item {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.dropdown-icon {
    width: 14px;
    height: auto;
    margin-right: 5px;
}

.d-flex {
    align-items: center !important;
}

.d-flex .nav-link {
    margin-right: 20px;
}

.c-flex {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media screen and (max-width: 700px) {

    .main {
        margin: 0.6rem 0.1rem !important;
    }
}