.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-toggle::after {
    margin-left: 0.255em !important;
    vertical-align: 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.dropdown-anchor {
    margin-left: 1px !important;
    vertical-align: baseline !important;
}

.rotate-drp-anchor {
    rotate: 180deg;
}

.dropdown-menu {
    min-width: fit-content !important;
    transition: none;
}

.offcanvas {
    max-width: fit-content !important;
    /* max-width: 50% !important; */
}

.offcan-dropdown {
    width: min-content;
}

.offcan-dropdown .dropdown-menu {
    position: relative !important;
    transform: none !important;
}

.dropdown-item {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.dropdown-icon {
    width: 14px;
    height: auto;
    margin-right: 5px;
}

.d-flex {
    align-items: center !important;
}

.d-flex .nav-link {
    margin-right: 20px;
}

.c-flex {
    display: flex;
    flex-direction: column;
    align-items: start;
}